<div class="col anime-thumbnail">

    <img src="<%= anime.image_url %>" class="img-small"/>
    <!-- <figcaption class="figure-caption"><%= anime.title %></figcaption> -->
    <div class="caption center-block"><%= anime.title %></div>
</div>
