<div class="col anime-thumbnail">
    <a href="/anime/<%= anime.mal_id %>">
        <img src="<%= anime.image_url %>" class="img-small"/>
        <div class="caption center-block"><%= anime.title %></div>
    </a>
</div>
