<option value="">-- Genre --</option>
<option value="action">Action</option>
<option value="adventure">Adventure</option>
<option value="cars">Cars</option>
<option value="comedy">Comedy</option>
<option value="dementia">Dementia</option>
<option value="demons">Demons</option>
<option value="mystery">Mystery</option>
<option value="drama">Drama</option>
<option value="ecchi">Ecchi</option>
<option value="fantasy">Fantasy</option>
<option value="game">Game</option>
<option value="hentai">Hentai</option>
<option value="historical">Historical</option>
<option value="horror">Horror</option>
<option value="kids">Kids</option>
<option value="magic">Magic</option>
<option value="martialArts">Martial Arts</option>
<option value="mecha">Mecha</option>
<option value="music">Music</option>
<option value="parody">Parody</option>