<option value="">-- Genre --</option>
<option value="action">Action</option>
<option value="adventure">Adventure</option>
<option value="cars">Cars</option>
<option value="comedy">Comedy</option>
<option value="dementia">Dementia</option>
<option value="demons">Demons</option>
<option value="mystery">Mystery</option>
<option value="drama">Drama</option>
<option value="ecchi">Ecchi</option>
<option value="fantasy">Fantasy</option>
<option value="game">Game</option>
<option value="hentai">Hentai</option>
<option value="historical">Historical</option>
<option value="horror">Horror</option>
<option value="kids">Kids</option>
<option value="magic">Magic</option>
<option value="martialArts">Martial Arts</option>
<option value="mecha">Mecha</option>
<option value="music">Music</option>
<option value="parody">Parody</option>
<option value="samurai">Samurai</option>
<option value="romance">Romance</option>
<option value="school">School</option>
<option value="sciFi">Sci Fi</option>
<option value="shoujo">Shoujo</option>
<option value="shoujoAi">Shoujo Ai</option>
<option value="shounen">Shounen</option>
<option value="shounenAi">Shounen Ai</option>
<option value="space">Space</option>
<option value="sports">Sports</option>
<option value="superPower">Super Power</option>
<option value="vampire">Vampire</option>
<option value="yaoi">Yaoi</option>
<option value="yuri">Yuri</option>
<option value="harem">Harem</option>
<option value="sliceOfLife">Slice Of Life</option>
<option value="supernatural">Supernatural</option>
<option value="military">Military</option>
<option value="police">Police</option>
<option value="psychological">Psychological</option>
<option value="thriller">Thriller</option>
<option value="seinen">Seinen</option>
<option value="josei">Josei</option>