@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar-brand{
  font-size: 30px;
  padding: 1px;
  font-family: 'Otomanopee One', sans-serif;
}

.navbar{
    background-color: #d95e07;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2); /* adds a shadow under nav bar */
}

body{
    background-color: #dedede;
}

.anime-thumbnail div{
    color: black;
    font-family: 'Lato', sans-serif;
}

.anime-thumbnail{
    text-align: center;
}

.img-small{
    max-height: 250px;
    width: auto;
    height: auto;
}

h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}