@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar-brand{
  font-size: 30px;
  padding: 1px;
  font-family: 'Otomanopee One', sans-serif;
}

.navbar{
    background-color: #d95e07;
    box-shadow: 0 8px 16px 0 rgba(235, 201, 201, 0.2); /* adds a shadow under nav bar */
}

.mh-85{
    min-height: 85vh;
}

footer{
    background-color: #d95e07;
}

footer a{
    text-decoration: none;
    color: white;
}

body{
    /* background-color: #dedede; */
    background-color: #17181a;
    color: white !important;
    font-family: 'Lato', sans-serif;
    border-color: #d95e07;
}

/* Login and register cards */
.card{
    background-color:#282a2e !important;
    border-radius: 10px;
}

/* Anime titles on thumbnails */
.anime-thumbnail > a{
    text-decoration: none;
    color: white;
}

/* Anime titles on thumbnails */
.anime-thumbnail{
    text-align: center;
}

/* Navbar search bar */
input[type="search"] {
    border-radius: 10px;
}

/* Images in watch list */
.table-image {
    width: auto;
    height: 4em;
}

/* Titles in watch list */
td > a[href^="/anime/"] {
    color: white;
}

/* Anime thumbnail images on front page */
.img-small{
    max-height: 250px;
    width: auto;
    height: auto;
}

/* Synopsis on anime info page */
.synopsis{
    border-color: #d95e07;
    border-style: solid;
    border-radius: 15px;
}



