@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar-brand{
  font-size: 30px;
  padding: 1px;
  font-family: 'Otomanopee One', sans-serif;
}

.navbar{
    background-color: #d95e07;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2); /* adds a shadow under nav bar */
}

body{
    background-color: #dedede;
}

input[type="search"] {
    border-radius: 15px;
}

/* Images in watch list */
.table-image {
    width: auto;
    height: 4em;
}

/* Titles in watch list */
td > a[href^="/anime/"] {
    color: #000000;
}

/* Front page nime thumbnails with labels */
.anime-thumbnail div{
    color: black;
    font-family: 'Lato', sans-serif;
}

.anime-thumbnail{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 /*                             */

.img-small{
    max-height: 250px;
    width: auto;
    height: auto;
}

.genre-title {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right:10px;
    font-family: 'Lato', sans-serif;
}

.general-title {
    margin-top: 75px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right:10px;
    font-family: 'Lato', sans-serif;
}

